.container{
    margin: 10px 0px;
    padding: 10px 0px;
    width: 650px;
    height: 580px;
    background-color: #557DA526;
    border-radius: 10px;
    overflow: scroll;
    display: grid;
    grid-template-columns: auto auto;
    

}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    background-color: #fff;
    box-shadow: 24px;
    padding:30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.card{
    width: 300px;
    margin:10px;
    height: 160px;
    background: white;
    border-radius: 8px;
    border: 0.5px solid lightgrey;
}
.candidiate-info{
    display: flex;
    font-weight: 400;
    color: #303f60;
}
.user-photo{
    height: 50px;
    width: 50px;
    display: block;
    margin: 10px;
    text-align: center;
    background-color: #D9EFFF;
    border-radius: 50%;

}
.user-photo div{
    margin: 25%;
    font-size: 20px;
}
.nameAndEmail{
    margin: 10px;
}
.applicantName{
    font-weight: 600;
}
.nameAndEmail div{
    margin: 10px;
}
.candidiate-skills{
    padding: 10px;
    font-size: 14px;
}
.candidiate-skills div{
    margin-bottom: 5px;
}