.cards{
    display: grid;
    width: 80%;
    margin:0px auto;
   overflow: scroll;
   grid-template-columns: auto auto auto;
}
.job-card{
/* width: 350px; */
height: 200px;
margin: 20px;
background-color: #fff;
border-radius: 5px;
box-shadow: 20px 10px 6px #557DA526;
display: flex;
/* border: 2px solid red; */
justify-content: space-around;
flex-direction: column;
}
.job-title{
    color: #43afff;
    padding: 25px 25px 0px;
    text-transform: capitalize;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
}
.job-desc{
    width: 300px;
    color: #303F60;
    font-weight: 400;
    font-size: 15px;
    padding: 10px 20px;
    text-align: left;
    line-height: 1.5em;
    height: 5em;
    overflow: hidden;
}
.job-location{
    text-align: left;
    padding: 10px 0px;
    display:inline-block
}
.pagination{
    /* position: absolute; */
    bottom: 50px;
    left: 50%;
}
#pagination-left{
    cursor: pointer; 
    color: black; 
    font-size: 40px;
    position:absolute;
    left:45%
}
#pagination-right{
    position:absolute;
    right:45%;
    cursor: pointer;
    color: black;
    font-size: 40px; 
    display: inline-block; 
}
.view-application{
 color: white;
  background: #43afff;
   box-shadow: none;
   display: block;
   border: none;
   border-radius: 5px;
}
#breadcrumbs-nav{
    margin-left: 200px;
     margin-top: 10px
}

@media screen and (max-width: 768px) {
    .cards{
        width: 85%;
       overflow: scroll;
       grid-template-columns: auto auto;
    }

    .job-card{
        height: 170px;
        margin: 10px;
        }
        .job-title{
            padding: 25px 25px 0px;
            font-size: 15px;
        }
        .job-desc{
            width: 260px;
            font-size: 12px;
            padding: 10px 20px;
        }
        .job-location{
            padding: 10px 0px;
        }
        #breadcrumbs-nav{
            margin-left: 80px;
        }
    #pagination-left{left:42%}
    #pagination-right{right:42%}
}
@media screen and (max-width: 480px) {
    .cards{   
        width: 85%;
       overflow: scroll;
       grid-template-columns: auto;
    }
    .job-card{
        height: 170px;
        margin: 10px;
        }
        .job-title{
            padding: 25px 25px 0px;
            font-size: 15px;
        }
        .job-desc{
            width: 260px;
            font-size: 12px;
            padding: 10px 20px;
        }
        .job-location{
            padding: 10px 0px;
        }
        #breadcrumbs-nav{
            margin-left: 80px;
        }
        #pagination-left{left:42%}
        #pagination-right{right:42%}
}